@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.fontnav{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
    justify-content: end;
}

.activo{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color:black;
    text-decoration: none;
    border-radius: 20px;
    margin: 1rem;
    padding: 0.2rem 1rem;
    transition: background-color 0.2s;
   
}

.inactivo{
    color: white;
    text-decoration: none;
    border-radius: 20px;
    padding: 0.2rem 1rem;
    opacity: 5;
    margin: 1rem;
}